[submodule "libraries/RTCZero"]
	path = libraries/RTCZero
	url = https://github.com/femtoduino/RTCZero.git
[submodule "libraries/atmel-lwm"]
	path = libraries/atmel-lwm
	url = https://github.com/femtoduino/library-atmel-lwm.git
